In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import gc
from itertools import product

import lightgbm as lgb
from tqdm import tqdm_notebook

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

def downcast_dtypes(df):
    '''
        Changes column types in the dataframe: 
                
                `float64` type to `float32`
                `int64`   type to `int32`
    '''
    
    # Select columns to downcast
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols =   [c for c in df if df[c].dtype == "int64"]
    
    # Downcast
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols]   = df[int_cols].astype(np.int32)
    
    return df

# Any results you write to the current directory are saved as output.

/kaggle/input/competitive-data-science-predict-future-sales/test.csv
/kaggle/input/competitive-data-science-predict-future-sales/item_categories.csv
/kaggle/input/competitive-data-science-predict-future-sales/shops.csv
/kaggle/input/competitive-data-science-predict-future-sales/items.csv
/kaggle/input/competitive-data-science-predict-future-sales/sales_train.csv
/kaggle/input/competitive-data-science-predict-future-sales/sample_submission.csv

In [2]:
import pandas as pd
item_categories = pd.read_csv("../input/competitive-data-science-predict-future-sales/item_categories.csv")
items = pd.read_csv("../input/competitive-data-science-predict-future-sales/items.csv")
sales_train = pd.read_csv("../input/competitive-data-science-predict-future-sales/sales_train.csv")
sample_submission = pd.read_csv("../input/competitive-data-science-predict-future-sales/sample_submission.csv")
shops = pd.read_csv("../input/competitive-data-science-predict-future-sales/shops.csv")
test = pd.read_csv("../input/competitive-data-science-predict-future-sales/test.csv")
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [3]:
oct_trans=sales_train[sales_train["date"].str.endswith("10.2015")]
oct_sales = oct_trans.groupby(['shop_id','item_id'])['item_cnt_day'].sum()

In [4]:
nov_trans=sales_train[sales_train["date"].str.endswith("11.2014")]
nov_sales = nov_trans.groupby(['shop_id','item_id'])['item_cnt_day'].sum()

In [5]:
merged=pd.merge(test,oct_sales,on=['shop_id','item_id'],how="outer")
#merged=merged[merged['ID']!=np.nan]
merged=merged.dropna(subset=['ID'])
merged=merged.replace(np.nan,0)
merged['item_cnt_month']=merged['item_cnt_day'].clip(lower=0,upper=20)
merged=merged.drop(['shop_id','item_id','item_cnt_day'],axis=1)
merged['ID']=merged['ID'].astype('int')
merged.to_csv("october_sales.csv",index=False)
merged
# print(merged.shape)
# sample_submission.shape

            ID  item_cnt_month
0            0             0.0
1            1             0.0
2            2             1.0
3            3             0.0
4            4             0.0
...        ...             ...
214195  214195             1.0
214196  214196             0.0
214197  214197             0.0
214198  214198             0.0
214199  214199             0.0

[214200 rows x 2 columns]

In [6]:
sales = sales_train

# Create "grid" with columns
index_cols = ['shop_id', 'item_id', 'date_block_num']

# For every month we create a grid from all shops/items combinations from that month
grid = [] 
for block_num in sales['date_block_num'].unique():
    cur_shops = sales.loc[sales['date_block_num'] == block_num, 'shop_id'].unique()
    cur_items = sales.loc[sales['date_block_num'] == block_num, 'item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

# Turn the grid into a dataframe
grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

# Groupby data to get shop-item-month aggregates
gb = sales.groupby(index_cols,as_index=False).agg({'item_cnt_day':{'target':'sum'}})
# Fix column names
gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values] 
# Join it to the grid
all_data = pd.merge(grid, gb, how='left', on=index_cols).fillna(0)

# Same as above but with shop-month aggregates
gb = sales.groupby(['shop_id', 'date_block_num'],as_index=False).agg({'item_cnt_day':{'target_shop':'sum'}})
gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values]
all_data = pd.merge(all_data, gb, how='left', on=['shop_id', 'date_block_num']).fillna(0)

# Same as above but with item-month aggregates
gb = sales.groupby(['item_id', 'date_block_num'],as_index=False).agg({'item_cnt_day':{'target_item':'sum'}})
gb.columns = [col[0] if col[-1] == '' else col[-1] for col in gb.columns.values]
all_data = pd.merge(all_data, gb, how='left', on=['item_id', 'date_block_num']).fillna(0)

# Downcast dtypes from 64 to 32 bit to save memory
all_data = downcast_dtypes(all_data)
del grid, gb 
gc.collect();

/opt/conda/lib/python3.6/site-packages/pandas/core/groupby/generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

In [7]:
# List of columns that we will use to create lags
cols_to_rename = list(all_data.columns.difference(index_cols)) 

shift_range = [1, 2, 3, 4, 5, 12]

for month_shift in tqdm_notebook(shift_range):
    train_shift = all_data[index_cols + cols_to_rename].copy()
    
    train_shift['date_block_num'] = train_shift['date_block_num'] + month_shift
    
    foo = lambda x: '{}_lag_{}'.format(x, month_shift) if x in cols_to_rename else x
    train_shift = train_shift.rename(columns=foo)

    all_data = pd.merge(all_data, train_shift, on=index_cols, how='left').fillna(0)

del train_shift

# Don't use old data from year 2013
all_data = all_data[all_data['date_block_num'] >= 12] 

# List of all lagged features
fit_cols = [col for col in all_data.columns if col[-1] in [str(item) for item in shift_range]] 
# We will drop these at fitting stage
to_drop_cols = list(set(list(all_data.columns)) - (set(fit_cols)|set(index_cols))) + ['date_block_num'] 

# Category for each item
item_category_mapping = items[['item_id','item_category_id']].drop_duplicates()

all_data = pd.merge(all_data, item_category_mapping, how='left', on='item_id')
all_data = downcast_dtypes(all_data)
gc.collect();

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(IntProgress(value=0, max=6), HTML(value='')))

In [8]:
print(all_data)

         shop_id  item_id  date_block_num  target  target_shop  target_item  \
0             54    10297              12     4.0       8198.0         23.0
1             54    10296              12     3.0       8198.0         17.0
2             54    10298              12    14.0       8198.0        182.0
3             54    10300              12     3.0       8198.0         26.0
4             54    10284              12     1.0       8198.0          3.0
...          ...      ...             ...     ...          ...          ...
6425089       21     7635              33     0.0       1912.0          1.0
6425090       21     7638              33     0.0       1912.0          1.0
6425091       21     7640              33     0.0       1912.0          1.0
6425092       21     7632              33     0.0       1912.0          1.0
6425093       21     7440              33     0.0       1912.0          1.0

         target_lag_1  target_item_lag_1  target_shop_lag_1  target_lag_2  \
0                 3.0               42.0            10055.0           0.0
1                 0.0               24.0            10055.0           0.0
2                21.0              369.0            10055.0         119.0
3                 1.0               54.0            10055.0          31.0
4                 0.0                4.0            10055.0           0.0
...               ...                ...                ...           ...
6425089           0.0                0.0                0.0           0.0
6425090           0.0                0.0                0.0           0.0
6425091           0.0                0.0                0.0           0.0
6425092           0.0                1.0             1900.0           0.0
6425093           0.0                1.0             1900.0           0.0

         ...  target_lag_4  target_item_lag_4  target_shop_lag_4  \
0        ...           0.0                0.0                0.0
1        ...           0.0                0.0                0.0
2        ...           0.0                0.0                0.0
3        ...           0.0                0.0                0.0
4        ...           0.0                3.0             7827.0
...      ...           ...                ...                ...
6425089  ...           0.0                0.0                0.0
6425090  ...           0.0                0.0                0.0
6425091  ...           0.0                0.0                0.0
6425092  ...           0.0                0.0                0.0
6425093  ...           0.0                2.0             1844.0

         target_lag_5  target_item_lag_5  target_shop_lag_5  target_lag_12  \
0                 0.0                0.0                0.0            0.0
1                 0.0                0.0                0.0            0.0
2                 0.0                0.0                0.0            0.0
3                 0.0                0.0                0.0            0.0
4                 0.0               10.0             7792.0            0.0
...               ...                ...                ...            ...
6425089           0.0                0.0                0.0            0.0
6425090           0.0                0.0                0.0            0.0
6425091           0.0                0.0                0.0            0.0
6425092           0.0                0.0                0.0            0.0
6425093           0.0                4.0             1717.0            0.0

         target_item_lag_12  target_shop_lag_12  item_category_id
0                       0.0                 0.0                37
1                       0.0                 0.0                38
2                       0.0                 0.0                40
3                       0.0                 0.0                37
4                       0.0                 0.0                57
...                     ...                 ...               ...
6425089                 0.0                 0.0                64
6425090                 0.0                 0.0                64
6425091                 0.0                 0.0                64
6425092                 0.0                 0.0                64
6425093                 0.0                 0.0                57

[6425094 rows x 25 columns]

In [11]:
dates = all_data['date_block_num']

last_block = dates.max()
print(last_block)
X_train = all_data.loc[dates <=  last_block].drop(to_drop_cols, axis=1)
#print(X_train.head)
X_test =  all_data.loc[dates == last_block].drop(to_drop_cols, axis=1)
#print(X_test.head)

y_train = all_data.loc[dates <  last_block, 'target'].values
y_test =  all_data.loc[dates == last_block, 'target'].values

33

In [ ]:
# List of columns that we will use to create lags
cols_to_rename = list(all_data.columns.difference(index_cols)) 

shift_range = [1, 2, 3, 4, 5, 12]

for month_shift in tqdm_notebook(shift_range):
    test_shift = test.copy()
    
    train_shift['date_block_num'] = train_shift['date_block_num'] + month_shift
    
    foo = lambda x: '{}_lag_{}'.format(x, month_shift) if x in cols_to_rename else x
    train_shift = train_shift.rename(columns=foo)

    all_data = pd.merge(all_data, train_shift, on=index_cols, how='left').fillna(0)

del train_shift

# Don't use old data from year 2013
all_data = all_data[all_data['date_block_num'] >= 12] 

# List of all lagged features
fit_cols = [col for col in all_data.columns if col[-1] in [str(item) for item in shift_range]] 
# We will drop these at fitting stage
to_drop_cols = list(set(list(all_data.columns)) - (set(fit_cols)|set(index_cols))) + ['date_block_num'] 

# Category for each item
item_category_mapping = items[['item_id','item_category_id']].drop_duplicates()

all_data = pd.merge(all_data, item_category_mapping, how='left', on='item_id')
all_data = downcast_dtypes(all_data)
gc.collect();